body {
    overflow-x: hidden;
}
#banner{
    background-color: #ff3e3d;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
}
#banner > div {
    /* border: 1px solid black; */
}
img {
    height: 20px;
    margin: 10px;
    align-self: center;
}
h1{
    flex: 6;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    align-self: center;
    text-align: center;
}
.menu_icon{
    flex: 2;
    height: inherit;    
    justify-content: center;
    align-content: center;
    display: flex;
}
#nav {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100vw;
    background-color: white;
    border-top: 1px solid #ff3e3d;
    display: flex;
    text-align: center;
    align-items: center;
    display: flex;
    z-index: 1;
}
.menu_item{
    flex: 1;
    margin-top: auto;
}
.menu_img{
    height: 20px; 
    width: auto;
}
#services_icon{
    height: 10px;
    width: auto;
}
.menu_text{
    bottom: 0;
    margin-bottom: 25px;
}
#grid_items{
    height: 1000px;
    border: 1px solid #ff3e3d;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20px auto auto 20px;
    grid-template-rows: 20px 200px 200px 20px; 
    grid-gap: 20px 20px;
}
#content {
    height: auto;
    width: 100vw;
}
#new_item {
    grid-column: 2/4;
    grid-row: 2/2;
    border: #ff3e3d 1px solid;
}
#new_item2 {
    grid-column: 2/3;
    grid-row: 3/3;
    border: #ff3e3d 1px solid;
}
#new_item3 {
    grid-column: 3/4;
    grid-row: 3/3;
    border: #ff3e3d 1px solid;
}
