#container {
    background-color: #ff3e3d;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    width: 300px;
}
#back {
    width: 30px;
    position: absolute;
    top: 30px;
    left: 30px;
}