#grid_items{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 200px 50px 30px;
}
#new_item {
    display: flex;
    /* border-bottom: #ff3e3d 1px solid; */
    justify-content: center;
    height: 250px;
}
#new_item > span {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    align-self: center;
}
#new_item2 {
    background-image: url('../../img/WhatsApp\ Image\ 2018-05-25\ at\ 13.12.56.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#new_item3 {
    background-image: url('../../img/WhatsApp\ Image\ 2018-05-25\ at\ 13.12.57\(1\).jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#new_item8 {
    background-image: url('../../img/WhatsApp\ Image\ 2018-05-25\ at\ 13.12.57\(2\).jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
#new_item9 {
    background-image: url('../../img/WhatsApp\ Image\ 2018-05-25\ at\ 13.12.57.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
}
.item_dis {
    /* border: #ff3e3d 1px solid; */
    text-align: center;
}
.item_img {
    /* border: #ff3e3d 1px solid; */
}

.item > img {
    width: inherit;
}
#placeholder {
    height: 100px;
}