body {
    font-family: 'Montserrat';
}

h2 {
    font-size: 30px;
    color: #ff3e3d;
}
hr {
    height: 1px;
    border: 0;
    border-top: #ff3e3d 1px solid;
    padding: 0; 
}
p {
    font-size: 0.9em;
    margin-top: 20px;
}
#maat_tabel {
    width: 100%;
}
#content {
    margin: 20px;
}