body {
    overflow-x: hidden;
}
#banner{
    background-color: #ff3e3d;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: sticky;
    top: -1px;
}
.menu_icon > a {
    align-self: center;
}
.menu_icon > a > img {
    height: 20px;
    margin: 10px;
}
.menu_icon > img {
    height: 20px;
    margin: 10px;
    align-self: center;
}
h1{
    flex: 6;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    align-self: center;
    text-align: center;
}
.menu_icon{
    flex: 2;
    height: inherit;
    justify-content: center;
    align-content: center;
    display: flex;
}
#nav {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100vw;
    background-color: white;
    border-top: 1px solid #ff3e3d;
    display: flex;
    text-align: center;
    align-items: center;
    z-index: 1;
}
#item_link {
    display: block;
    width: inherit;
    height: inherit;
}
.menu_item{
    flex: 1;
    margin-top: auto;
    color: black;
    text-decoration: none;
}
.menu_item:link {

    text-decoration: none;
}
.menu_item:hover {

    text-decoration: none;
}
.menu_item:visited{
    text-decoration: none;
}
.menu_item:active {
    text-decoration: none;
}
.menu_img{
    height: 20px;
    width: auto;
}
#services_icon{
    height: 10px;
    width: auto;
}
.menu_text{
    bottom: 0;
    margin-bottom: 25px;
}
#content {
    height: auto;
    /* width: 100vw; */
}
#placeholder {
    height: 100px;
}

#content {
    margin: 20px;
}